spring:
    datasource:
        url: jdbc:hsqldb:file:db/broker/store
        username: sa
        password:
        driver-class-name: org.hsqldb.jdbc.JDBCDriver
    jpa:
        show-sql: true
        hibernate:
            ddl-auto: validate
server:
  port: 8095

