spring:
    application:
        name: payment-broker
    datasource:
        url: jdbc:hsqldb:file:db/broker/store
        username: sa
        password:
        driver-class-name: org.hsqldb.jdbc.JDBCDriver
    jpa:
        show-sql: true
        hibernate:
            ddl-auto: update
#    sleuth:
#        sampler:
#            percentage: 1.0
server:
  port: 8095