spring:
  application:
    name: external-payment

  cloud:
    consul:
      discovery:
        tags: accountNumber=0000, GATEWAY_SERVICE

  datasource:
    url: jdbc:hsqldb:file:db/external_payments/store
    username: sa
    password:
    driver-class-name: org.hsqldb.jdbc.JDBCDriver

  jpa:
    hibernate:
      ddl-auto: update

  sleuth:
    sampler:
      percentage: 1.0

server:
  port: 8090