global:
  scrape_interval:     15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'exporter-metrics'

rule_files:
 - "/etc/prom-conf/alert.rules"


scrape_configs:
- job_name: 'HostsMetrics'
  dns_sd_configs:
  - names:
      - node-exporter
    refresh_interval: 15s
    type: A
    port: 9100

- job_name: 'ContainerMetrics'
  dns_sd_configs:
  - names:
      - cadvisor
    refresh_interval: 15s
    type: A
    port: 8080
- job_name: 'rancher-api'
  dns_sd_configs:
  - names:
      - 'prometheus-rancher-exporter'
    refresh_interval: 15s
    type: A
    port: 9173

- job_name: 'Prometheus'
  static_configs:
    - targets:
        - '127.0.0.1:9090'

- job_name: 'Services'
  metrics_path: /prometheus
  consul_sd_configs:
  - server:   'consul.consul:8500'
    services: ['internal-payment', 'external-payment', 'payment-broker', 'gateway', 'service-discovery']
  
  relabel_configs:
  - source_labels: ['__meta_consul_service']
    regex:         '(.*)'
    target_label:  'service'
    replacement:   '$1'
  - source_labels: ['__meta_consul_tags']
    regex:         ',(service),'
    target_label:  'group'
    




