<div class="row">
    <h2>Платежная квитанция</h2>
</div>
<div class="row">
    <form>
        <div class="form-group">
            <label for="accountNumber">Номер счета</label>
            <input class="form-control" id="accountNumber" ng-model="payment.accountNumber" placeholder="Номер счета"
                   required="required">
        </div>

        <div class="form-group">
            <label for="clientName">Получатель</label>
            <input class="form-control" id="clientName" ng-model="payment.clientName" placeholder="Иванов И.И."
                   required="required">
        </div>

        <div class="form-group">
            <label for="transferSum">Сумма</label>
            <input type="number" class="form-control" id="transferSum" ng-model="payment.transferSum"
                   placeholder="Введите сумму" required="required">
        </div>

        <button ng-click="pay()" type="submit" class="btn btn-primary">Оплатить</button>
    </form>
</div>
<div class="row" style="margin-top: 20px">
    <h3>История платежей</h3>
    <div class="row" style="margin: 0; padding: 0">
        <table class="table">
            <tr style="font-weight: bold">
                <td>№</td>
                <td>Получатель</td>
                <td>Номер счета</td>
                <td>Сумма</td>
            </tr>
            <tr ng-repeat="(index, payment) in payments"
                ng-class="{'success': payment.status == 'PAID', 'danger': payment.status != 'PAID'}">
                <td>{{index + 1}}</td>
                <td>{{payment.clientName}}</td>
                <td>{{payment.accountNumber}}</td>
                <td>{{payment.transferSum}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="alert alert-danger alert-fixed col-sm-4 modal-dialog" ng-show="hasError" ng-hide="!hasError">
        <strong>{{ errorMsg }}</strong>
    </div>
    <div class="alert alert-success alert-fixed col-sm-4 modal-dialog" ng-show="hasSuccess" ng-hide="!hasSuccess">
        <strong>Успешно оплачено</strong>
    </div>
</div>